<h2>Doors</h2>
<div class="door-container">
  <div class="row">
    <div class="col-lg-1">
      <button (click)="emergencyUnlock()" class="btn btn-danger mx-auto" type="button">Emergency Open</button>&nbsp;
    </div>
    <div class="col-lg-1">
      <button (click)="emergencyLock()" class="btn btn-success mx-auto" type="button">Emergency Close</button>
    </div>
    <div class="col-lg-1">
      <button (click)="lockNormal('17,66')" class="btn btn-dark mx-auto" type="button">Return To Schedule</button>
    </div>
  </div>
<div *ngFor="let rows of doors" class="row">
  <div *ngFor="let door of rows" class="col-lg-3">
    <div class="card"> 
      <img *ngIf="false" src="assets/img/no_video.png" style="height:300px;"/>
      <div class="card-body">
        <div  class="row">
          <h4 class="card-title">{{door.Door}}</h4>
        </div>
        <div class="row">
          <div style="margin-right:10px;">Door Status:</div>
          <div>
            <div class="led-box">
              <div class="led-none" [class]='statusMap[door.DoorStatus].light'></div>
            </div>
          </div>
          <div class="col">
            {{statusMap[door.DoorStatus].text}} {{door.LockStatus}}
          </div>
        </div>
        <div class="row">
          <button (click)="unlockMomentary(door.Id)" class="btn btn-danger btn-block mx-auto" type="button">Open</button>
          <button (click)="lockNormal(door.Id)" class="btn btn-success btn-block mx-auto" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngFor="let text of logText">
  <p>{{text}}</p>
</div>